.main-search {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position:center;
  overflow: hidden;
  z-index: 10;
}

#main-search {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 1s, top 0.1s ease 1s, left 0.1s ease 1s;
}

#main-search.fadeOut {
  opacity: 0;
  visibility: hidden;
  top: -9999px; 
  left: -9999px;
}

.main-search--dark {
  position: absolute;
  width: 100%; 
  height:100%;
  top: 0; 
  left: 0;
  background:rgba(0,0,0,0.4);
}

.main-search--center {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 20px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.main-search__footer {
  position: absolute;
  width:100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align:center;
}

.main-search__footer-link {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  opacity: 0.4;
}

.main-search__logo {
  text-align: left;
  margin: 0;
}

.main-search__header {
  margin: 10px 0 20px 0;
  color: #ffffff;
  text-align: left;
  font-weight: 200;
  font-size: 24px;
}

.main-search--center .search-results {
  display: block;
  position: absolute;
  top: 170px;
  left: 0px;
  width: 100%;
  padding: 0 20px 0 20px;
  height: auto;
}

.main-search--center .search-results__dropdown {
  position:relative;
  width: 360px;
  border-top: 1px #f2f2f2 solid;
}

@media only screen and (min-width: 1366px) {
  .main-search--center {
    width: 600px;
  }

  .main-search--center .search-results__dropdown {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .main-search--center {
    width: 100%;
  }

  .main-search--center {
    position: relative;
    transform:none;
    top: 30px;
    left: 0;
  }

  .main-search__header {
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
  }

  .main-search--center .search-results__dropdown {
    width: 100%;
  }

  .main-search--center .search-results {
    position: relative;
    width: 100%;
    top: 0;
    padding: 0;
  }
}

@media only screen and (max-height: 400px) {
  .main-search {
    height: auto;
    overflow: auto;
  }
  .main-search--dark {
    height: auto;
    min-height: 100%;
  }
  .main-search--center {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    transform: none;
  }
}