.pairings__header--max-width,
.pairings-description--max-width,
.recipe--max-width {
  max-width: 1080px;
  margin: auto;
}

.pairings__header {
  position: relative;
}

.pairings__header--max-width {
  display: flex;
  justify-content: space-between;
}

.pairings__header {
  padding: 30px 50px 30px 50px;
}

.pairings__searchbar {
  width: 300px;
}

.pairings__searchbar .search-bar {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
}

.pairings__searchbar .search-results__dropdown {
  position: absolute;
  width: 300px;
  margin-top: 1px;
}

.pairings-description {
  padding: 50px;
  background-color:#E8E7DD;
}

.pairing-description__text {
  width: 60%;
  text-align: left;
  line-height: 1.5em;
}

.pairing__dish-image {
  float: right;
  right: 0px;
  width: 352px;
  height: 275px;
  margin-top: -120px;
  padding: 20px;
  border: 2px solid #d6d6d6;
  background-color: #ffffff;
  z-index: 10;
}

.pairing-description__food-selection {
  text-transform: lowercase;
}

.pairing-description__wine-suggestions {
  text-transform: capitalize;
}

.recipe {
  padding: 50px;
}

.pairings__footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.pairings__footer-link {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.recipe--max-width {
  padding-bottom: 40px;
}

.recipe__content {
  display: flex;
  justify-content: space-between;
}

.recipe__ingredients {
  width: 300px;
  margin-right: 10px;
}

.recipe__steps {
  width: 100%;
}

.recipe__ingredients-header,
.recipe__steps-header {
  margin: 15px 0 15px 0;
  font-weight: bold;
  font-size: 16px;
}

.recipe__ingredients ul,
.recipe__steps ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.recipe__ingredients ul li {
  padding: 0px;
  line-height: 1.5em;
}

.recipe__steps ol li {
  padding: 0 0 20px 0;
  line-height: 1.5em;
}

.pairings--fade {
  animation: fade 2s linear;
}

@keyframes fade {
  0% { opacity:1; }
  50% { opacity:0; } 
  100% { opacity:1; } 
}

@media screen and (max-width: 1020px) {
  .pairing-description__text {
    width: 50%;
  }
  .pairing__dish-image {
    width: 45%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .pairings__header--max-width {
    display: block;
  }

  .pairings__searchbar {
    width: 100%;
  }
  
  .pairings__searchbar .search-results__dropdown {
  width: calc(100% - 100px) !important;
  }
  
  .pairing-description__text {
    width: 100%;
  }

  .pairing__dish-image {
    float: none;
    margin-top: 20px;
  }
  
  .pairing__dish-image {
    padding: 0;
    width: 100%;
    height: auto;
  }
  .recipe__content {
    display: block;
  }
  .recipe__ingredients {
    width: 100%;
  }
  .recipe__ingredients ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .recipe__ingredients ul li {
    padding-right: 30px;
  }
}